In [1]:
from sklearn import linear_model
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.style.use('ggplot')

In [3]:
data = {'x1':[13,18,17,20,22,21],
        'x2':[9,7,17,11,8,10],
       'y':[20,22,30,27,35,32]}
data = pd.DataFrame(data)
X = data[['x1','x2']]
y = data['y']
data

   x1  x2   y
0  13   9  20
1  18   7  22
2  17  17  30
3  20  11  27
4  22   8  35
5  21  10  32

In [4]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(X), y = y)
prediction = linear_regression.predict(X = pd.DataFrame(X))
print('a value = ', linear_regression.intercept_)
print('b value = ', linear_regression.coef_)

a value =  -7.359201773835938
b value =  [1.5443459  0.62472284]

In [5]:
residulas = y - prediction
residulas.describe()

count    6.000000e+00
mean     3.552714e-15
std      2.622371e+00
min     -3.399667e+00
25%     -1.987805e+00
50%      5.828714e-01
75%      1.415327e+00
max      3.385809e+00
Name: y, dtype: float64

In [6]:
SSE = (residulas**2).sum()
SST = ((y - y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R^2 = ', R_squared)

R^2 =  0.7969440176685232

In [7]:
from sklearn.metrics import mean_squared_error
print('score = ', linear_regression.score(X = pd.DataFrame(X), y = y))
print('MSE = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**.5)

score =  0.7969440176685232
MSE =  5.730691056910565
RMSE =  2.393886182948255

In [8]:
from sklearn import datasets
boston_house_price = datasets.load_boston()
print(boston_house_price.keys())
print(boston_house_price.data.shape)
print(boston_house_price.feature_names)

dict_keys(['data', 'target', 'feature_names', 'DESCR'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [9]:
print(boston_house_price.DESCR)

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [11]:
data_frame = pd.DataFrame(boston_house_price.data)
data_frame.columns = boston_house_price.feature_names
data_frame['price'] = boston_house_price.target
data_frame.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [14]:
X = data_frame[boston_house_price.feature_names]
y = data_frame['price']

In [15]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(X), y = y)
prediction = linear_regression.predict(X = pd.DataFrame(X))
print('a value = ', linear_regression.intercept_)
print('b value = ', linear_regression.coef_)

a value =  36.49110328036089
b value =  [-1.07170557e-01  4.63952195e-02  2.08602395e-02  2.68856140e+00
 -1.77957587e+01  3.80475246e+00  7.51061703e-04 -1.47575880e+00
  3.05655038e-01 -1.23293463e-02 -9.53463555e-01  9.39251272e-03
 -5.25466633e-01]

In [16]:
residulas = y - prediction
residulas.describe()

count    5.060000e+02
mean    -6.750858e-15
std      4.684137e+00
min     -1.557946e+01
25%     -2.725635e+00
50%     -5.164656e-01
75%      1.783116e+00
max      2.618865e+01
Name: price, dtype: float64

In [17]:
SSE = (residulas**2).sum()
SST = ((y - y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R^2 = ', R_squared)

R^2 =  0.7406077428649427

In [18]:
print('score = ', linear_regression.score(X = pd.DataFrame(X), y = y))
print('MSE = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**.5)

score =  0.7406077428649428
MSE =  21.897779217687496
RMSE =  4.679506300635516