### Task
1. Again, import them all!!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stat
import math
%matplotlib inline

### Task
1. 15 patients with cancer, two categorical variables observed, tumor (Y/N) and metastasis (Y/N).
2. chi-square test them to find the association between the two variables.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html

https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html

In [2]:
# Given
tumor = np.array([1]*10+[0]*5) # First 10 patients WITH tumor, last 5, without.
meta = np.array([1]*8+[0]*6+[1]) # First 8 WITH metastasis, next 6 without, the last one, WITH.

In [6]:
crosstab = pd.crosstab(tumor,meta, rownames=['tumor'],colnames=['meta'])
crosstab

meta   0  1
tumor
0      4  1
1      2  8

In [9]:
chi2,p,dof,expected = stat.chi2_contingency(crosstab)
chi2,p,dof,expected

(2.8125, 0.09353251268909288, 1, array([[2., 3.],
        [4., 6.]]))

### Task
1. chi-square test the 'chi2_test.csv.
2. columns for mental illness (y/n), rows for willingness to go see someone about it (not sure, no, maybe, yes).

In [10]:
df = pd.read_csv('chi2_test.csv')
df.head()

  willingness disorder
0    not_sure      yes
1    not_sure      yes
2    not_sure      yes
3    not_sure      yes
4    not_sure      yes

In [11]:
ct = pd.crosstab(df['willingness'],df['disorder'])
ct

disorder      no  yes
willingness
maybe        269  237
no           194  119
not_sure      29   51
yes           25   51

In [12]:
chi2,p,dof,expected = stat.chi2_contingency(ct)
chi2,p,dof,expected

(31.484732692973566,
 6.719808166744474e-07,
 3,
 array([[268.30974359, 237.69025641],
        [165.97025641, 147.02974359],
        [ 42.42051282,  37.57948718],
        [ 40.29948718,  35.70051282]]))